<template>
  <div>
    <h2>Board</h2>
    <p>param passed: {{ $route.params.username }}</p>
    <p v-if="loading">loading</p>
    <p>{{ board }}</p>
  </div>
</template>

<script>
  export default {
    name: 'Board',
    data() {
      return {
        loading: false,
        board: null,
        error: null
      }
    },
    created() {
      this.fetchData()
    },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      fetchData() {
        this.loading =  true
        this.error = this.board = null

        axios.get('http://localhost:3000/u/' + this.$route.params.username, {
          headers: {
            'Authorization': localStorage.getItem('jwt_token'),
          }
        }).then(response => {
          this.loading = false
          this.board = response.data
        });
      }
    }
  }
</script>