<template>
  <div id='app'>
    <router-link to="/">Home (/)</router-link>
    <router-link to="/u/sam">Board (sam)</router-link>
    <router-link to="/login">Login</router-link>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'app'
  }
</script>
