<template>
  <div id="loginout">
    <form @submit.prevent="login">
      <input v-model="email" type="email" name="email">
      <input v-model="password" type="password" name="password">
      <input type="submit">
    </form>
    <button v-on:click="logout">logout</button>
  </div>
</template>

<script>
  export default {
    name: 'Login',
    data() {
      return {
        loggedOut: !localStorage.getItem('jwt_token'),
        loggedIn: !!localStorage.getItem('jwt_token'),
        email: '',
        password: ''
      }
    },
    methods: {
      login() {
        axios.post('http://localhost:3000/authenticate', {
          email: this.email,
          password: this.password
        }).then(function (response) {
          localStorage.setItem('jwt_token', response.data.auth_token)
        })
        .catch(function (error) {
          console.log(error)
        });
      },
      logout() {
        localStorage.setItem('jwt_token', null)
        console.log(localStorage.getItem('jwt_token'))
      }
    }
  }
</script>